@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marck+Script&display=swap");

.App {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

body {
  margin: 0;
  background: black;
}

.bgVideo {
  position: fixed;
  inset: 0;
  width: 30%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
  filter: brightness(0.55);
  margin: 0 auto;
}

.App::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: -1;
}

.content {
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 50px auto;
  text-align: center;
}

h1 {
  font-family: "Kalam", cursive;
  margin: 20px auto;
  color: #fff;
  text-shadow: 0 0 12px rgba(255, 0, 130, 0.6);
}

.openBtn {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;
  padding: 1em 2em;
  margin-bottom: 30px;

  background-color: #ff0082;
  color: white;
  border-radius: 6px;
  border: none;
  cursor: pointer;

  transition:
    transform 0.15s ease,
    box-shadow 0.25s ease;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
}

.openBtn:active {
  transform: scale(0.95);
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1000;

  animation: fadeIn 0.25s ease forwards;
}

.modal {
  background: white;
  width: 500px;
  max-height: 80vh;
  overflow-y: auto;
  padding: 30px;
  border-radius: 14px;
  position: relative;
  animation: modalIn 0.25s ease forwards;
}

.modalClose {
  animation: modalOut 0.25s ease forwards;
}

.overlayClose {
  animation: fadeOut 0.25s ease forwards;
}
.closeBtn {
  position: absolute;
  top: 15px;
  right: 15px;

  background: none;
  border: none;
  cursor: pointer;
}

.closeBtn img {
  width: 20px;
  height: 20px;
}

.letter {
  animation: fadeIn 0.3s ease;
}

p {
  font-family: "Marck Script", cursive;
  font-weight: 550;
  font-size: 18px;
  line-height: 1.4;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes modalIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes modalOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.95);
  }
}
